@import "src/theme.scss";

.details {
    &__logo {
        margin: 1.75rem 0 0 1.56rem;
        @media (min-width: $layout-break-width) { 
            display: none;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        min-width: 23.37rem;
        background-color: $color-primary;
        border-radius: 16px;
        @media (max-width: $layout-break-width) { 
            border-radius: 0px;
        }
    }

    &__loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    &__input {
        margin: 1.75rem 1.19rem 3.5rem 1.56rem;
    }

    &__content {
        margin: 0 2.87rem 4.25rem 2.87rem;
        @media (max-width: $layout-break-width) { 
            margin: 0 1.6rem 4rem 1.6rem;
        }
        color: $color-text-white;
    }

    &__con-temp-container {
        display: flex;
        align-items: center;
    }
    &__temp {
        font-size: 4.31rem;
        font-weight: bold;
        margin-left: 0.69rem;
    }

    &__cond-text {
        display: inline-block;
        margin: 1.56rem 0 2.8rem 0;
        font-size: 1.56rem;
        font-weight: bold;
    }

    &__param-cont {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}