@import 'src/theme.scss';

.place-input {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;

    &__input-container {
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 13px;
        height: 2.37rem;
        background-color: $color-white;
    }
    textarea:focus, input:focus{
        outline: none;
    }
    &__input {

        margin-left: 1.3rem;
        font-size: 1.12rem;
        font-weight: bold;
        width: 100%;
        color: $color-text-normal;
        font-family: $font-primary;
        border-style: none;

    }

    &__icon {
        fill: $color-primary;
        margin: 0 10px;
    }

    &__places {
        z-index: 10;
        position: absolute;
        width: 100%;
        margin-top: 1.8rem;
        background-color: $color-white;
        color: $color-text-normal;
        font-family: $font-primary;
        font-size: 1.12rem;
        font-weight: bold;
        border-radius: 0 0 13px 13px;
    }

    &__places-container {
        margin: 0.8rem 0;
        overflow: hidden;
        max-height: 20rem;

    }

    &__places-item {
        padding: 0.5rem 0;
        padding-left: 1.3rem;
    }

    &__places-item:hover {
        background-color: $color-background-light;
    }

    &__item-selected {
        background-color: $color-background-dark;
    }
}