@import "src/theme.scss";
@import "../calendar-variables.scss";

.header-row {
    display: flex;
    flex: 1;
    justify-content: start;
    @media (max-width: $layout-break-width) { 
        display: none;
    }

    &__cells-container {
        @extend %cells-container;
        :first-child {
            border-radius: 20px 0 0 0;
        }
        :last-child {
            border-radius: 0 20px 0 0;
        }
    }

    &__cell {
        @extend %cell;
        justify-content: center;
        align-items: center;
        height: 7.1rem;
        background-color: white;
    }
    &__day-column {
        @extend %day-cell;
        height: 7.1rem;
    }
    
    &__text {
        display: flex;
        align-self: center;
        color: $color-text-dark;
        font-size: 1rem;
        font-weight: bold;
    }
}