@import "src/theme.scss";

.logo {
    &__text {
        color: $color-primary;
        font-size: 2.18rem;
        text-align: center;
        font-weight: 800;
        letter-spacing: 0;
        @media (max-width: $layout-break-width) { 
            color:  $color-white;
        }
    }
}