%cells-container {
    display: flex;
    flex: 1;
    justify-content: start;
    margin-right: 2.6rem;
    @media (max-width: $layout-break-width) { 
        flex-direction: column;
        margin-right: 0;
    }
}

%cell {
    display: flex;
    flex: 1;
    height: 13.01rem;
    margin: 1px;
}

%day-cell {
    width: 7.9rem;
}