@import "src/theme.scss";

.weather-icon {

    &__monochrome {
        path {
            fill: $color-white;
        }
    }

    &__small {
        svg {
            transform: scale(0.84);
        }
    }

    &__large {
        width: 90px;
        height: 90px;
        svg {
            transform: scale(2.1) translate(12px, 12px);
        }
    }
}


