@import "src/theme.scss";

.error {
    &__container {
        display: flex;
        justify-content: center;
    }

    &__text {
        display: inline-block;
        font-size: 2rem;
        font-weight: bold;
        color: $color-text-dark;
    }
}