@import "src/theme.scss";

.header {
    $header-height: 7rem;
    &__container {
        padding-left: 3.25rem;
        display: flex;
        height: $header-height;
        align-items: center;
        @media (max-width: $layout-break-width) { 
            display: none;
        }  
        background-color: $color-background-white;
    }
}