@import "src/theme.scss";
@import "../calendar-variables.scss";

.row {
    display: flex;
    @media (max-width: $layout-break-width) { 
        flex-direction: column;
    }
    flex: 1;
    justify-content: start;

    &__cells-container {
        @extend %cells-container;
    }

    &__cell {
        @extend %cell;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 13rem;
        @media (max-width: $layout-break-width) { 
            height: 6.37rem;
        }
        background-color: white;
    }
    &__day-column {
        @extend %day-cell;
        height: 13rem;
        @media (max-width: $layout-break-width) { 
            height: 6.37rem;
        }
        justify-content: center;
        @media (max-width: $layout-break-width) { 
            justify-content: space-between;
            width: 100%;
            > * {
                margin: 0 2rem;
            }
            border-bottom: solid;
            border-color: $color-border;
            border-width: 1px;
        }
        display: flex;
        align-items: center;
    }

    &__day-text {
        display: flex;
        align-self: center;
        color: $color-text-dark;
        font-size: 1rem;
        font-weight: bold;
    }

    &__content-container {
        display: flex;
        flex: 1;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    &__selected-marker {
        height: 0.62rem;
        width: 100%;
        background-color: $color-primary;
    }

    &__selected-placeholder {
        height: 0.62rem;
    }

    &__arrow-container {
        @media (min-width: $layout-break-width) { 
            display: none;
        }
    }

    &__day-hidden {
        @media (max-width: $layout-break-width) { 
            display: none;
        }
    }

    &__cells-hidden {
        @media (max-width: $layout-break-width) { 
            display: none;
        }
    }

    &__arrow-rotated {
        transform: rotate(180deg);
    }
}