@import "src/theme.scss";

.parameter-item {
    margin-bottom: 1.58rem;
    height: 1.9rem;
    display: flex;
    align-items: center;
    &__text {
        margin-left: 0.66rem;
        font-size: 1.125rem;
        @media (max-width: $layout-break-width) { 
            font-size: 0.81rem;
        }
    }

    &__icon-container {
        display: inline-flex;
        justify-content: center;
        width: 23.37px;
    }
}