@import "src/theme.scss";

.calendar-item {
    color: $color-text-light;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    @media (max-width: $layout-break-width) { 
        flex-direction: row;
        justify-content: space-evenly;
    }
    align-items: center;;

    &__icon-container {
        height: 40px;
    }

    &__temperature-text {
        font-weight: bold;
        font-size: 1.56rem;
        margin-top: 1.1rem;
        @media (max-width: $layout-break-width) { 
            margin-top: 0;
        }
    }

    &__wind-speed-text {
        font-size: 0.94rem;
        margin-left: -14px;
        svg {
            margin: 0 8px;
            transform: scale(0.9);
        }
        path {
            fill: $color-text-light;
        }
    }

    &__time-container {
        @media (min-width: $layout-break-width) { 
            display: none;
        }
    }

    &__time-text {
        font-weight: bold;
        color: $color-text-normal;
        font-size: 0.93rem;
    }

}