@import "src/theme.scss";

.app {
    background-color: $color-background-light;
    margin: auto;
    max-width: 105rem;
    display: flex;
    flex-direction: column;
    @media (max-width: $layout-break-width) { 
        overflow-y: scroll;
    }
    height: 100vh;

    &__content {
        flex-wrap: wrap;
        display: flex;
        flex: 1;
        overflow: hidden;
        @media (max-width: $layout-break-width) { 
            overflow: visible;
        }
    }

    &__details {
        margin-top: 1.9rem;
        margin-left: 2.75rem;
        width: 23.37rem;
        @media (max-width: $layout-break-width) { 
            margin: 0px;
            width: 100%;
        }  
    }

    &__date-text {
        margin-top: 3.5rem;
        margin-left: 8.56rem;
        margin-bottom: 3.2rem;
        font-size: 2.19rem;
        font-weight: bold;
        @media (max-width: $layout-break-width) { 
            display: none;
        }
    }

    &__calendar {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        
        overflow: hidden;
        overflow-y: scroll;
        @media (max-width: $layout-break-width) { 
            overflow-y: auto;
            overflow: visible;
        }
        height: 100%;
    }

    &__loader-container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: white;
        opacity: 0.6;
        top: 0;
        left: 0;
    }
}
