@import "src/theme.scss";
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body {
    background-color: $color-background-dark;
    top: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: $font-primary;
    overflow: hidden;
}

