$color-primary: #5FA6F1;
$color-white: white;
$color-background-light: #F5F6FA;
$color-background-dark: #D8DCE2;
$color-background-white: #FFFFFF;

$color-text-dark: #5A5A5A;
$color-text-normal: #707070;
$color-text-light: #959595;
$color-text-white: white;

$color-border: #E8E8E8;


$font-primary: 'Nunito';
$layout-break-width: 936px;